[submodule "sway"]
	path = sway
	url = https://gitlab.com/lydia-st_dotfiles/sway
[submodule "nvim"]
	path = nvim
	url = https://gitlab.com/lydia-st_dotfiles/nvim
[submodule "tmux"]
	path = tmux
	url = https://gitlab.com/lydia-st_dotfiles/tmux
